body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-title{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  background-image: linear-gradient(#9198e5, #e66464);
  background-size: 100%;
  margin: 0 0 2rem 0;
  padding: 1rem;
  height: 100%;
}

.filter-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.search-input{
  height: 50%;
  margin: 1rem 0;
  outline: none;
  padding: 0 0 0 15px;
  font-size: 16px;
  border: transparent;
  border-bottom: 3px solid #e66464;
  transition: all 0.1s ease;
}

.search-input::placeholder{
  color: #c4c4c4;
}

.title{
  margin: 0;
  font-size: 26px;
}

.gender-filter{
  margin: 1rem 0;
}

.sort-type{
  margin: 1rem 0 .35rem 0;
}

.menu-img {
  width: 24px;
}

.reset-btn{
  cursor: pointer;
  margin: 1rem 0;
  padding: .25rem;
  background: none;
  border-radius: 10px;
  border: 3px solid #9198e5;
  color: #9198e5;
  font-size: 20px;
  font-weight: 700;
}

.friends-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.friend-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: .4rem;
  background: linear-gradient(#e66464, #9198e5);
  border: 3px solid #9198e5;
  border-radius: 30px;
  height: 0 auto;
  width: 170px;
}

.central-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 100%;
  height: 100%;
}

.friends-info{
  font-family: sans-serif;
  padding: .3rem;
  font-size: 15px;
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-all;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
}

.name{
  font-size: 17px;
  margin-bottom: .4rem;
  font-weight: 700;
}

.friend-avatar{
  border-radius: 100px;
  border: 4px solid white;
  margin: .5rem;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #9198e5; 
  border-radius: 50%;
  margin: 2rem;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.go-back-btn, .go-further-btn{
  width: 40px;
  height: 40px;
  margin:.3rem .3rem .3rem 0;
  cursor: pointer;
  background: #9198e5;
  color: #fff;
  border-radius: 5px;
  border:2px solid #9198e534
}

.go-back-btn:hover, .go-further-btn:hover{
  background: #515582;
}

.go-back-btn:active, .go-further-btn:active{
  background: #32344f;
}

.go-back-btn:disabled, .go-further-btn:disabled{
  cursor: auto;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 1018px) {
  .main{
    display: flex;
  }
  .friend-card {
  width: 200px;
  }
  .filter-box{
    display: flex;
    justify-content: flex-start;
  }
  .friends-info{
    font-size: 16px;
  }
  .loader {
    margin: 10rem;
    width: 120px;
    height: 120px;
  }
}